@import url('./flex.css');
@import url('./ids.css');
@import url('./play.css');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('./animations.css');

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 1em;
    background: #3c3c3c;
}

body{
    font-size: 1em;
    color: #3c3c3c;
    background: #3c3c3c;
    margin: 0;
}

.window.outer{
    position: relative;
}

.stack.outer{
    position: relative;
    display: inline-block;
}

.race{
    position: relative;
}

.race img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.race .race-img, .race .paragon-img{
    padding: 1em;
}

.window > .inner{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding: 5em 3em 3em;
}

.stack > .inner{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding: 1.25em .50em;
}

.input.outer{
    position: relative;
    display: inline-block;
}

.input input, .input button{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.12em;
    padding: 0 0.5em;
    border: none;
}

.input button{
    cursor: pointer;
}

.input input:focus{
    outline: none;
    background: rgba(255,255,255,0.1);
}

.input button:focus{
    background: rgba(255,255,255,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    outline: 1px solid white;
}

.input button:hover{
    background: rgba(255,255,255,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    outline: 1px solid rgba(255,255,255,0.5);
}

.input button.active{
    background: rgba(255,255,255,0.1);
    outline: 1px solid lightgreen;
}

.input-title{
    font-weight: bold;
    padding-left: 0.5em;
}

.input-label:not(.readonly):hover{
    background: rgba(255,255,255,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    outline: 1px solid rgba(255,255,255,0.5);
}

.input-label:not(.readonly):focus-within{
    background: rgba(255,255,255,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    outline: 1px solid white;
}

.input-label{
    display: inline-block;
    margin: 0.5em 0;
}

.error{
    color: red;
    font-weight: bold;
    margin: 1em 0.5em;
    font-size: 1.12em;
}

.hidden{
    display: none!important;
}

.csa{
    position: relative;
    display: block;
    height: 120px;
}

.csa-input{
    position: absolute;
    top: 50%;
    left: 120px;
    right: 0;
    transform: translateY(-50%);
}

.title{
    margin: 0.5em 0.5em 0.75em;
    font-size: 3.6em;
    line-height: 0.25em;
}

.title *{
    font-family: 'Monsieur La Doulaise', cursive;
}

.red{
    color: darkred;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input,
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}